.bot_details {
    display: flex;
    max-width: 100%;
    max-height: 100%;
    padding-left: 310px;
    flex-direction: column;
    padding-top: 100px;
    padding-right: 20px;
}

.bot_details_back_icon{
    color: rgba(255,255,255, 0.8);
    background: rgba(255, 255, 255, 0.09);   
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.bot_details_back_icon:hover{
    background: rgba(255, 255, 255, 0.12);   
}

.bot_details_back_title{
    font-size: 1.4rem;
    font-weight: 700;
    margin-left: 10px;
}

.bot_details_back_subtitle{
    font-size: 0.95rem;
    margin-left: 10px;
    color: rgba(255, 255, 255, 0.7);
}

.bot_details_settings{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: auto;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.08);   
    margin-bottom: 20px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.4);
}

.bot_details_settings_image{
    height: 90px;
    width: 90px;
    border-radius: 3px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.bot_details_settings_image_inactive{
    height: 90px;
    width: 90px;
    border-radius: 3px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    filter: sepia(55%) saturate(5%) hue-rotate(15deg) brightness(110%) contrast(90%);
}

.bot_details_settings_information{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between  ;
}

.bot_details_settings_information_container{
    display: flex;
    width: 100%;
}

.bot_details_settings_actions{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bot_details_settings_icon_container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.09);   
    padding: 6px;
    cursor: pointer;
    margin-bottom: 5px;
}

.bot_details_settings_icon_container:hover{
    background: rgba(255, 255, 255, 0.12);   
    cursor: pointer;
}

.bot_details_settings_icon{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
}

.bot_details_settings_title{
    font-size: 0.95rem;
    font-weight: 700;
    padding-bottom: 2px;
}

.bot_details_settings_subtitle{
    font-size: 0.85rem;
    color: rgba(255, 255, 255, 0.8);
}

.bot_details_performance{
    width: 100%;
    height: 200px;
    background: rgba(255, 255, 255, 0.06);   
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
    border-radius: 3px;
}

.custom-tooltip{
    display: flex;
    background: rgba(0, 0, 0, 0.5);   
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.4);
    padding: 6px;
}

.label_profit{
    font-size: 0.85rem;
    margin-right: 6px;
    font-weight: 500;
}

.label_percent{
    font-size: 0.85rem;
    font-weight: 500;
}

.order_card_title{
    font-size: 0.75rem;
    margin-bottom: 0.5px;
}

.order_card_value{
    font-size: 0.9rem;
    font-weight: 500;
}

.order_card_label{
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #4e44ce;
    padding: 10px;
    border-radius: 3px;
    margin-right: 20px;
}

.order_card_label_text{
    font-size: 0.85rem;
    font-weight: 600;
    text-align: center;
    align-self: center;
}